In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
%matplotlib inline
import sklearn
import datetime
from dateutil import parser
import calendar

In [4]:
df = pd.read_csv('my_strava_activities.csv', index_col=0)
df.head()

,average_speed,average_heartrate,average_watts,distance,elapsed_time,total_elevation_gain,type,commute,start_date_local
0,5.465,129.9,131.7,51690.0,3:23:50,1414.0,Ride,False,2018-05-21T09:59:24
1,6.948,131.3,127.8,133126.0,6:17:54,2280.0,Ride,False,2018-05-20T08:46:44
2,6.853,135.4,136.4,108418.0,4:39:40,1950.0,Ride,False,2018-05-19T08:12:35
3,6.756,NaN,135.3,59019.1,2:38:43,937.0,Ride,False,2018-05-17T17:50:55
4,7.454,NaN,117.7,23830.9,0:55:01,122.0,Ride,False,2018-05-17T07:15:06